html {
    background: #e3e3e3;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}


header {
    border: 5px solid #242424;
    text-align: center;
    position: sticky;
    top: 0;
    background: #fff;
}

#Picture_of_Me {
    width: 300px;
    height: 400px;
    float: left;
    padding: 25px;
}


article:nth-of-type(1) {
    flex: 10000px;
}

article:nth-of-type(2){
    flex: 10000px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 2em;
    margin: .5;
}

h3 {
    font-size: 1em;
    margin: .5;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
    display: flex;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
    padding: 20px;
    margin: 20px;
}

.byline {
    
}

table {

}

form {

}
div.navigation{
    text-align: center;
}

ul.Pages {
    display: inline-block;
    text-align: center;

}

button {

}


.the_facts {
    margin-left: 30px;
}

.about_in_depth{

}

a[href="/index.html"] {

}

a[href="/about.html"]{

}

a[href="/index.html"]{

}