html {
    background: #e3e3e3;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}


header {
    border: 5px solid #242424;
    text-align: center;
    position: sticky;
    top: 0;
    background: #fff;
}

#Picture_of_Me {
    position: static;
    top: 300px;
    width: 300px;
    height: 400px;
}

#about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.about-me{
    flex-grow: 1;
    margin: 20px;
    padding: 10px;
}

.About_In_Depth {
    flex-grow: 4;
    margin: 20px;
    padding: 10px;
}   

.The_Facts {
    flex-grow: 1;
    margin: 20px;
    padding: 10px;
    
}

.About_In_Depth:nth-child(1) {
    flex-grow: 4;
}

.blog-post:nth-of-type(1) {
    flex: 10000px;
}

.blog-post:nth-of-type(2){
    flex: 10000px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 2em;
    margin: .5;
}

h3 {
    font-size: 1em;
    margin: .5;
}

p {
    line-height: 1.4em;
}

#blog {
    text-align: center;
    border-top: 1px dotted #ccc;
    display: flex;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
    padding: 20px;
    margin: 20px;
}


table td {
    border-top: 1px solid black;
}

.wrapper {
    background-color: #ccc;
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1
}

.form-row > input{
    flex: 2
}

div.navigation{
    text-align: center;
}

ul.Pages {
    display: inline-block;
    text-align: center;

}

button {
    color: white;
    background: black;

}

.album-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 15px;
    border: 2px solid black;
    padding: .5em;
}


.box > * {
    border-bottom: 2px solid black;
}
